<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>405</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
<div>
    <!-- Page Content Starts-->
    <div>
        <img src="upload/mapimg/clogo.png">
        The website is currently being updated !
    </div>
    <div>
        <div>
            <span>CONTACT</span>
            ADD: <span th:text="${qtuser.add}" ></span>
            WEB: <span th:text="${qtuser.web}" ></span>
        </div>
        <div>
            <span>FOLLOW</span>
        </div>
    </div>
    <!-- Page Content Ends -->
</div>
<!-- Bootstrap JS -->
<script src="../assets/js/jquery/jquery.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>

</html>
