<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">

    <title>综合素养评价系统</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="assets/css/dashboard/dashboard2.css">
    <link rel="stylesheet" href="assets/css/flag/flagicon.css">
    <link rel="stylesheet" href="assets/css/maps/jqvmap.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/skin/all-skins.css">
    <link rel="stylesheet" href="assets/css/general/style.css">
    <link rel="stylesheet" href="assets/css/sidebar/side-nav.css">
    <link rel="stylesheet" href="assets/css/fonts/fonts-style.css">
    <link rel="stylesheet" href="assets/css/nanoscroller/nanoscroller.css">
    <script src="./assets/lib/layui/layui.js" charset="utf-8"></script>

    <script type="text/javascript" src="assets/js/cookie.js"></script>
    <script type="text/javascript" src="assets/js/jquery-1.8.3.min.js"/>
    <script type="text/javascript" src="assets/js/jquery.js"/>
    <script type="text/javascript" src="static/js/pubjs.js"></script>
    <script type="text/javascript" src="static/js/jsencrypt.min.js"></script>
    <script type="text/javascript" src="assets/js/myxadmin.js"></script>
</head>
<body class="sidebar-mini fixed skin-blue">
<input type="hidden" id="menuName"/>
<!-- Header Section Starts -->
<div id="head" th:include="QTtop.html"></div>
<!-- Header Section Ends -->
<!-- Page Content Starts -->
<div class="content-wrapper" id="bash">
    <div>
        <span>Contcat Us</span>
    </div>
    <div>
        ADD: <span th:text="${qtuser.add}" ></span>
        WEB: <span th:text="${qtuser.web}" ></span>
        Email: <span th:text="${qtuser.email}" ></span>
        Tel: <span th:text="${qtuser.tel}" ></span>
    </div>
    <div>
        <img src="upload/mapimg/hmap.jpg"/>
    </div>
</div>
<!-- Page Content Ends -->
<!-- bottom Section Starts -->
<div id="bottom" th:include="QTbottom.html"></div>
<!-- bottom Section Ends -->
<a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
<script src="assets/js/jquery/slim.min.js"></script>
<script src="assets/js/jquery/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery/jquery.min.js"></script>
<script src="assets/js/maps/jvector/jquery.vmap.min.js"></script>
<script src="assets/js/maps/jvector/jquery.vmap.world.js"></script>
<script src="assets/js/maps/jvector/jquery.vmap.sampledata.js"></script>
<script src="assets/js/charts/Chart.bundle.min.js"></script>
<script src="assets/js/charts/utils.js"></script>
<script src="assets/js/nanoscroller/nanoscroller.js"></script>
<script src="assets/js/custom/theme.js"></script>
<script src="pagejs/QThome.js"></script>
</body>
</html>
