<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">

    <title>平台账户信息管理</title>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/tables/datatables.min.css">
    <link rel="stylesheet" href="assets/css/tables/datatables-http.min.css">
    <link rel="stylesheet" href="assets/css/tables/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tables/jsgrid/demos.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tables/jsgrid/jsgridui.css">
    <link rel="stylesheet" href="assets/css/skin/all-skins.css">
    <link rel="stylesheet" href="assets/css/general/style.css">
    <link rel="stylesheet" href="assets/css/sidebar/side-nav.css">
    <link rel="stylesheet" href="assets/css/fonts/fonts-style.css">
    <link rel="stylesheet" href="assets/css/nanoscroller/nanoscroller.css">
    <link rel="stylesheet" href="static/css/pubcss.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tables/jsgrid/jsgrid.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tables/jsgrid/theme.css">
    <script src="assets/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/js/jsencrypt.min.js"></script>
    <script type="text/javascript" src="static/js/pubjs.js"></script>
</head>
<body class="sidebar-mini fixed skin-blue">
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            平台管理<small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="toHt/indexi"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li>系统设置</li>
            <li class="active">平台信息</li>
        </ol>
    </section>
    <!-- DataTable With Button Example Section Starts -->
    <div class="col-md-12 col-lg-12">
        <div class="cardbg">
            <input type="hidden" th:value="${msg}" id="msg" />
            <form method="post" class="layui-form" id="submitForm" action="toHt/xgwz" enctype="multipart/form-data">
                <input type="hidden" th:value="${item.xxz001}" id="sjbfid" name="sjbfid" />
                <div class="form-group">
                    <label>网站状态</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="A" name="t1" id="r11" th:checked="${item.xxz002=='A'}" checked>
                        <label class="form-check-label" for="r11" style="margin-right: 30px;">开启</label>
                        <input class="form-check-input" type="radio" value="B" name="t1" id="r12" th:checked="${item.xxz002=='B'}">
                        <label class="form-check-label" for="r12">停用</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="t2">网站标题 *</label>
                    <input type="text" class="form-control col-md-8 col-lg-4" th:value="${item.xxz005}" placeholder="请输入网站标题" id="t2" name="t2">
                </div>
                <div class="form-group">
                    <label for="t3">关键词 *</label>
                    <input type="text" class="form-control col-md-8 col-lg-4" th:value="${item.xxz006}" placeholder="请输入关键词" id="t3" name="t3">
                </div>
                <div class="form-group">
                    <label for="t5">网站域名 *</label>
                    <input type="text" class="form-control col-md-8 col-lg-4" th:value="${item.xxz010}" placeholder="请输入网站域名" id="t5" name="t5">
                </div>
                <div class="form-group">
                    <label for="t6">公司电子邮件 *</label>
                    <input type="text" class="form-control col-md-8 col-lg-4" th:value="${item.xxz011}" placeholder="请输入公司电子邮件" id="t6" name="t6">
                </div>
                <div class="form-group">
                    <label for="t7">公司电话 *</label>
                    <input type="text" class="form-control col-md-8 col-lg-4" th:value="${item.xxz012}" placeholder="请输入公司电话" id="t7" name="t7">
                </div>
                <div class="form-group">
                    <label for="t8">公司地址 *</label>
                    <input type="text" class="form-control col-md-8 col-lg-4" th:value="${item.xxz013}" placeholder="请输入公司地址" id="t8" name="t8">
                </div>
                <div class="form-group">
                    <label for="t9">产品优势 *</label>
                    <textarea id="t9" name="t9" style="width: 500px;height: 100px;">[[${item.xxz017}]]</textarea>
                </div>
                <div class="form-group">
                    <label for="t4">网站描述 *</label>
                    <textarea id="t4" name="t4" style="width: 500px;height: 100px;">[[${item.xxz007}]]</textarea>
                </div>
                <div class="form-group">
                    <label for="up">网站LOGO (png)</label>
                    <input type="file" class="form-control-file" id="up" name="up" onchange="pdtpgs()">
                </div>
                <div class="form-group">
                    <img id="shtp"  src="upload/mapimg/clogo.png"/>
                </div>
                <div class="form-group">
                    <label for="up1">网站地图图片 (jpg)</label>
                    <input type="file" class="form-control-file" id="up1" name="up1" onchange="pdtpgs1()">
                </div>
                <div class="form-group">
                    <img class="logoimg" id="shtp1"  src="upload/mapimg/hmap.jpg"/>
                </div>
                <div class="form-group">
                    <label for="up2">站点小图标 (ico)</label>
                    <input type="file" class="form-control-file" id="up2" name="up2" onchange="pdtpgs2()">
                </div>
                <div class="form-group">
                    <img id="shtp2"  src="assets/favicon.ico"/>
                </div>
                <div class="form-group">
                    <label for="up3">产品优势图</label>
                    <input type="file" class="form-control-file" id="up3" name="up3" onchange="pdtpgs3()">
                </div>
                <div class="form-group">
                    <img class="logoimg" id="shtp3"  th:src="'upload/mapimg/'+${item.xxz016}"/>
                    <input type="hidden" th:value="${item.xxz016}" id="t16" name="t16" />
                </div>
                <button type="submit" class="btn btn-primary">保存修改</button>
            </form>
        </div>
    </div>
    <!-- DataTable With Scroll Example Section Starts -->
</div>
<script src="assets/js/jquery/slim.min.js"></script>
<script src="assets/js/jquery/popper.min.js"></script>
<script src="assets/js/jquery/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/tables/datatables.min.js"></script>
<script src="assets/js/tables/dataTables.buttons.min.js"></script>
<script src="assets/js/tables/jszip.min.js"></script>
<script src="assets/js/tables/pdfmake.min.js"></script>
<script src="assets/js/tables/vfs_fonts.js"></script>
<script src="assets/js/tables/buttons.html5.min.js"></script>
<script src="assets/js/tables/buttons.print.min.js"></script>
<script src="assets/js/tables/datatable.js"></script>
<script src="assets/js/nanoscroller/nanoscroller.js"></script>
<script src="assets/js/custom/theme.js"></script>
<script type="text/javascript" src="assets/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="assets/jquery-validate/validate-methods.js"></script>
<script type="text/javascript" src="assets/jquery-validate/localization/messages_zh.js"></script>
<script src="pagejs/HTsel.js"></script>
<script src="pagejs/wzxx.js"></script>
</body>
</html>
